site_name: mmesh
site_url: https://mmesh.io/docs/
site_description: Multi-cloud networking made simple
site_author: mmesh team
copyright: Copyright &copy; 2023 mmesh
repo_name: mmesh/docs
repo_url: https://github.com/mmesh/docs
edit_uri: ""

meta_theme_color: "#16222a"
meta_site_keywords: "hybrid cloud, mesh, multi-cloud, on-prem, integration, platform, networking, automation, kubernetes, cloud, micro-services, enterprise, multi-tenant, architecture, network, topology, ipam, quic, vpn, security, rbac, web3, overlays, infrastructure, devops, gitops, digital transformation, modernization"
twitter_id: "@mmesh_io"
# social image/png: 1200x630
social_image_url: "https://mmesh.cdn.bubble.io/f1682045514720x353516752851134000/mmesh_card_twitter-1200x630.png"

theme:
  name: material
  custom_dir: ../overrides
  language: en
  # logo: "assets/images/logo/mmesh_logo_v5_146x30_transparent.png"
  logo: "https://mmesh.cdn.bubble.io/f1682046834381x285348054847376800/mmesh_logo_152x30_transparent.png"
  favicon_dark: "assets/images/logo/mmesh_logo_favicon_white_381x333.png"
  favicon_light: "assets/images/logo/mmesh_logo_favicon_black_381x333.png"
  # favicon: "assets/images/logo/mmesh_logo_favicon_512x512.png"
  favicon: "assets/images/logo/mmesh_logo_v6_symbol_512x512.png"
  pinned_icon: "assets/images/logo/pinned_mmesh_logo_500x500.svg"
  include_search_page: false
  search_index_only: true
  features:
    - navigation.instant
    # - navigation.tracking
    # - navigation.tabs
    # - navigation.tabs.sticky
    # - navigation.sections
    # - navigation.expand
    # - navigation.indexes
    - navigation.top
    # - toc.integrate
    - search.suggest
    - search.highlight
    - search.share
    # - header.autohide
    - announce.dismiss
  # font:
  #   text: Roboto
  #   code: Roboto Mono
  palette:
    - media: "(prefers-color-scheme: light)"  # Light mode
      scheme: mmesh-light
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"  # Dark mode
      scheme: mmesh-dark
      toggle:
        icon: material/weather-night
        name: Switch to light mode

plugins:
  - tags:
      tags_file: tags.md
  - search
  # - git-revision-date-localized:
  #     enable_creation_date: true
  #     type: datetime
  - minify:
      minify_html: true
  # - tooltips

markdown_extensions:
  # Python Markdown
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - meta
  - toc:
      permalink: false
  # Python Markdown Extensions
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - pymdownx.highlight
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde
  - pymdownx.details

extra_css:
  - assets/stylesheets/extra.css
  # - css/hint_min.css

extra_javascript:
  - assets/javascripts/extra.js

extra:
  homepage: https://mmesh.io
  # generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/mmesh
    - icon: fontawesome/brands/discord
      link: https://discord.com/invite/KgbzJ3V
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/mmesh_io
  status:
    new: Recently added
    deprecated: Deprecated
  analytics:
    provider: google
    property: G-MENG6GRE3G
    feedback:
      title: Was this page helpful?
      ratings:
        - icon: material/thumb-up-outline
          name: This page was helpful
          data: 1
          note: >-
            Thanks for your feedback!
        - icon: material/thumb-down-outline
          name: This page could be improved
          data: 0
          # note: >-
          #   Thanks for your feedback! Help us improve this page by
          #   using our <a href="..." target="_blank" rel="noopener">feedback form</a>.
          note: >-
            Thanks for your feedback!
